
body{
    overflow-x: hidden;
    background-color: rgb(68, 67, 67);
}

/* h1{
    color:white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
   margin-top: 150px;
    margin-left: 12%;
    font-size: 6rem;

} */



.hi{
    margin-top: 3em;
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 5rem;
    text-transform: uppercase;
}

.row1{
    margin-top: 0rem;
}

.row2{
    margin-top: 12rem;
    
}

.col1{
    background-color: rgb(218, 123, 8);
     height: 630px;
    
}



.col2{
    height: 630px;
    padding:0px;
  
}

.pic{
    width: 100%;
    height: 630px;

}


.p1{
    color: white;
    text-align: justify;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 1.25rem;
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
    
}



#p1{
    padding-top: 110px;
} 

#p2{
    padding-top: 42px;
}




.row3{
    margin-top: 0rem;
}

#vid{
    margin-top:2em;
}

h2{
    color: white;
    font-size: 3rem;  
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
    /* border-bottom: white solid 2px; */
}

/* .col11{
    width: 100px;
    background-color: violet;
    margin-left: 10em;
    margin-right: 10em;
} */
.p4{
    color: white;
    font-size: 1.25rem;
    text-align: justify;
    padding-left: 15em;
    padding-right: 15em;
    margin-top: 2em;
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
}



.row5{
    /* margin-left:14em;
    margin-right: 13em; */
    margin-top: 1.25em;
    /* background-color: lightcoral; */
}

.row6{
    /* margin-left:14em;
    margin-right: 13em; */
    margin-top: 1.25em;
    /* background-color: lightcyan; */
}




/* .col8{
    background-color: lightblue;
}  */
 

iframe{
    width:300px; 
    height: 200px;
}


.row7{
    margin-top: 7rem;
    /* background-color: violet; */
    
}
.col9{
    height: 560px;
    padding: 0px;
}


.col10{
    background-color:  rgb(218, 123, 8);
    height: 560px;
    margin-top: 0%;
    padding: 0px;
    
}

#sp{
    padding-top: 1em;
    text-align: center;
}


.p5{
    color: white;
    text-align: justify;
    padding-left: 120px;
    padding-right: 100px;
    font-size: 1.25rem;
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 43px;
}
 



.pic2{
    width: 100%;
    height: 560px;

}

.row8{
    margin-top: 4em;
}

.med1{
    margin-top: 1em;
    /* background-color: lightcoral; */
}

/* .med2{
    background-color: lightgreen;
    
} */

.p8{
    margin-left: 10em;
    margin-top: 2em;
    margin-right: 5em;
    font-size: 1.1rem;
    color: white;
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
    

}



.pic3{
    margin-right: 14em;
    margin-bottom: 3em;
    margin-top: 4em;
    width: 420px;
    height:300px;
    
}




.btn-primary.but{
    background-color: transparent;
   
}



.btn-primary.but:hover{
    background-color: whitesmoke ;
    border: white solid;
    color: rgb(77, 76, 76);
    cursor: pointer;
    cursor:hand;
}

.btn-primary.but1:hover{
    background-color: whitesmoke;
    border: white;
    color: rgb(77, 76, 76);
    cursor: pointer;
    cursor:hand;
}

.btn-primary.but1{
    background-color: transparent;
}

.but{
    width: 250px;
    margin-left: 300px;
    margin-top: 20px;
    height: 50px;
    border: white solid ;
    text-transform: uppercase;
    font-size: 1rem;
    color: white;
    
    
}



.but1{
    width: 250px;
    border: white solid ;
    margin-left: 110px;
    margin-top: 20px;
    height: 50px;
    text-transform: uppercase;
    font-size: 1rem;
}

.row9{
    margin-top: 3em;
}

/* .med3{
    background-color: violet;
} */

/* .med2{
    background-color: turquoise;
} */

.pic4{
    margin-top: 120px;
    margin-left: 250px;
    width: 450px;
    height:300px;
}


.p9{
    margin-left: 1em;
    margin-top: 2em;
    margin-right: 13em;
    font-size: 1.1rem;
    color: white;
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
}



.picsecret{
    width: 410px;
    height:300px;
    margin: 0%;
}



.con{
    background-image: url('../image/self2.jpg');
    background-repeat: no-repeat;
    background-size: 1900px 1250px;
    opacity: 0.7;
    background-color: rgb(68, 67, 67);
}
.con1{
    background-color: rgb(68, 67, 67);
}
.row10{
    background-color:rgb(83, 76, 67);
    margin-top: 7em;
    height: 800px ;
    
}

.conbooks{
    background-color:  rgb(83, 76, 67);
    margin: 0%;
}

.bookrow{
    background-color:  rgb(8, 218, 61);
    margin-top: 10px;
}

.bookprow{
    background-color:  rgb(54, 8, 218);
}

.rowcard{
    background-color:  rgb(218, 123, 8);
}


.book{
    /* margin-left: 260px; */
    margin-top: 25px;
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
}

.row24{
    background-color: turquoise;
    width: 50%;
    height: 100px;
    /* margin-left: 270px; */
}

.colpa{
    background-color: tomato;
     /* padding-left: 300px;
    padding-right: 300px;  */
}

.p10{
    color: white;
    margin-top: 1em;
    font-size: 1.25rem;
    padding-left: 150px;
    padding-right: 150px;
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.7em;
    
}


.row11{
    background-color:rgb(218, 123, 8) ;
    margin-top: 7em;
    height: 730px;
}




#hr2{
  margin-left: 57%;
  margin-right: 36%;
    border: white solid 0.1em;
    
}




#inputEmail{
    width: 480px;
    height: 50px;
    background-color: rgb(223, 215, 215);
}


#fname{
    width: 480px;
    height: 50px;
    background-color: rgb(223, 215, 215);
 
}

#range{
    width: 250px;
    
}

.form1{
    margin-top: 60px;
}

.form{
    /* background-color: blue; */
    width:480px;
   
   
    
}


label{
    font-size: 1rem;
    color: white;
    font-weight: bold;
    
}

.sub{
    width:120px;
    height: 60px;
    background-color: rgb(223, 219, 215);
    color:rgb(49, 47, 46);
    margin-bottom: 30px;


}

#comment{
    width: 480px;
    height:200px;
    background-color: rgb(223, 215, 215);

}

.foot{
    background-color: white;
    left: 0px;
    right: 0px;
    position: absolute;
    
}

.copy{
    background-color: white;
    margin-top: 3em;
}


.links{
    margin-top: 2em;
    margin-left: 29.5em;
    
}

#links{
    margin-left: 1em;
}

.button{
    margin-top: 20px;
    margin-left: 530px;
    width: 50px;
    
}

.myBtn{
    border: none;
    background-color: transparent;
    padding: 0;

}

.myBtn:hover{
    background-color: transparent;
}

#myBtn{
    font-size:48px;
    color:rgb(58, 58, 201);
}


#pic6{
    width: 70%;
}

a:link{
    text-decoration: none;
}

.hr{
    margin: 0 40%;
}



.navigation{
    /* background-color: rgb(10, 8, 8,0.6); */
    /* height: 55px;
    width: 100%; */
    padding-right: 20px;
}

.btn{
    background-color: white;
    color: white;
}

.navs{
    color:white;
    font-size: 0.85rem;
    padding-top: 1em;

}

.navi{
    background-color: rgb(85, 84, 87);
    opacity: 0.9;
}

.navs:hover{
    color: rgb(67, 185, 67);
}

.bar > li > a:hover{
    color: rgb(67, 185, 67);
}


#link{
    color: white;
    font-size: 1.5rem;
}

#link:hover{
    color: rgb(67, 185, 67);
}

#hr{
    margin: 0 48.6%;
    border: white solid 0.1em;
}

.fb{
    background-color: white;
    border: none;
}


#footer{
    color: rgb(82, 80, 80);
}


.newcon{
    margin-top: 20px;
}

.newrow{
    background-color: rgb(218, 123, 8);
    
}

.newcol{
    margin-top: 20px;
}

.newrowcard{
    background-color: rgb(218, 123, 8);
}

.cards{
    height: 500px;
    width: 400px;
    margin-left: 50px ;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(199, 195, 195);
}

.newcon2{
    margin-top: 30px;
}

.pic11{
    margin-top: 25px;
    margin-left: 270px;
    width: 400px;
    height:350px;
}

.p19{
    margin-left: 1em;
    margin-top: 2em;
    margin-right: 13em;
    font-size: 1.1rem;
    color: white;
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 2em;
}

.newcon3{
    margin-top: 30px;
}

.newrow3{
    background-color:  rgb(218, 123, 8);
}

#contact{
    margin-left: 360px;
    margin-top: 1.5em;
    font-size: 2.5rem;

}

.p11{
    color: white;
    padding-left: 13em;
    padding-right: 0em;
    margin-top: 3em;
    font-size: 1.25rem;
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
}

.expbtn{
    background-color:  rgb(68, 67, 67);
}

.expbtn:hover{
    color: black;
    background-color: white;
}

@media screen and (max-width:500px){

    .con{
        background-size: 500px 700px;
    }

    .hi{
        font-size: 4rem;
    }

    .p1{
        font-size: 18px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .p4{
        font-size: 18px;
        padding-left: 1em;
        padding-right: 1em;
    }

    .p5{
        font-size: 18px;
        padding-left:  10px;
        padding-right: 10px;
    }

    .p8{
        font-size: 18px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .but{
        margin-left: 70px;
    }

    .pic4{
        margin-left: 60px;
       width: 350px;
    }

    .p9{
        font-size: 18px;
        margin-left: 1em;
        margin-right: 1em;
    }

    .but1{
        margin-left: 70px;
    }

    .row10{
        height: 2000px ;
    }

    .p10{
        font-size: 18px;
        padding-right: 30px !important;
        padding-left: 30px !important;
    }

    .cards{
        margin-left: 30px !important;
    }

    .p19{
        font-size: 18px;
        margin-left: 1em;
        margin-right: 2em;
       
    }

    .pic11{
        margin-left: 80px;
        width: 300px;
        height:250px;
    }

    #contact{
        margin-left: 140px;
    
    }
    
    .p11{
        font-size: 18px;
        padding-left: 2em;
        
    }

    #inputEmail{
        width: 330px;
        
    }

    #fname{
        width: 330px;
    }

    #comment{
        width: 330px;
        height:  150px;
    }

    .colcontact{
        margin-left: 32px;
    }

    .button{
        margin-left: 200px;
  
    }

    .links{
        margin-top: 2em;
        margin-left: 140px;
        
    }
}


@media screen and (min-width:501px) and (max-width:600px){

    .con{
        background-size: 800px 900px;
    }


    .hi{
        font-size: 5rem;
    }

    .p1{
        padding-left: 5px;
        padding-right: 5px;
    }

    .p4{
        padding-left: 1em;
        padding-right: 1em;
    }

    .p5{
        padding-left:  10px;
        padding-right: 10px;
    }

    .p8{
        margin-left: 10px;
        margin-right: 10px;
    }

    .but{
        margin-left: 70px;
    }

    .pic4{
        margin-left: 60px;
       width: 350px;
    }

    .p9{
        margin-left: 1em;
        margin-right: 1em;
    }

    .but1{
        margin-left: 70px;
    }

    .row10{
        height: 2000px ;
    }

    .p10{
        padding-right: 30px !important;
        padding-left: 30px !important;
    }

    .cards{
        margin-left: 60px !important;
    }

    .p19{
        margin-left: 1em;
        margin-right: 2em;
       
    }

    .pic11{
        margin-left: 80px;
        width: 300px;
        height:250px;
    }

    #contact{
        margin-left: 140px;
    
    }
    
    .p11{
        padding-left: 2em;
        
    }

    #inputEmail{
        width: 330px;
        
    }

    #fname{
        width: 330px;
    }

    #comment{
        width: 330px;
        height:  150px;
    }

    .colcontact{
        margin-left: 32px;
    }

    .button{
        margin-left: 240px;
  
    }

    .links{
        margin-top: 2em;
        margin-left: 180px;
        
    }
}

@media screen and (min-width:601px) and (max-width:780px){

    .con{
        background-size: 1100px 1000px;
    }

    .p1{
        padding-left: 5px;
        padding-right: 5px;
    }

    .p4{
        padding-left: 1em;
        padding-right: 1em;
    }

    .p5{
        padding-left:  10px;
        padding-right: 10px;
    }

    .p8{
        margin-left: 10px;
        margin-right: 10px;
    }

    .but{
        margin-left: 70px;
    }

    .pic3{
        margin-left: 80px;
    }

    .pic4{
        margin-left: 100px;
       width: 350px;
    }

    .p9{
        margin-left: 1em;
        margin-right: 1em;
    }

    .but1{
        margin-left: 70px;
    }

    .row10{
        height: 2000px ;
    }

    .p10{
        padding-right: 30px !important;
        padding-left: 30px !important;
    }

    .cards{
        margin-left: 100px !important;
    }

    .p19{
        margin-left: 1em;
        margin-right: 2em;
       
    }

    .pic11{
        margin-left: 80px;
        width: 300px;
        height:250px;
    }

    #contact{
        margin-left: 140px;
    
    }
    
    .p11{
        padding-left: 2em;
        
    }

    #inputEmail{
        width: 330px;
        
    }

    #fname{
        width: 330px;
    }

    #comment{
        width: 330px;
        height:  150px;
    }

    .colcontact{
        margin-left: 32px;
    }

    .button{
        margin-left: 240px;
  
    }

    .links{
        margin-top: 2em;
        margin-left: 180px;
        
    }
}

@media screen and (min-width:800px) and (max-width:1000px){

    .con{
        background-size: 1300px 1200px;
    }

    .p1{
        font-size: 17px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .p4{
        padding-left: 1em;
        padding-right: 1em;
    }

    .p5{
        padding-left:  10px;
        padding-right: 10px;
    }

    .p8{
        margin-left: 10px;
        margin-right: 10px;
    }

    .but{
        margin-left: 70px;
    }

    .pic4{
        margin-left: 60px;
       width: 350px;
    }

    .p9{
        margin-left: 1em;
        margin-right: 1em;
    }

    .but1{
        margin-left: 70px;
    }

    .row10{
        height: 2000px ;
    }

    .p10{
        padding-right: 30px !important;
        padding-left: 30px !important;
    }

    .cards{
        margin-left: 30px !important;
        width:250px;
    }

    .p19{
        margin-left: 1em;
        margin-right: 2em;
       
    }

    .pic11{
        margin-left: 80px;
        width: 300px;
        height:250px;
    }

    #contact{
        margin-left: 140px;
    
    }
    
    .p11{
        padding-left: 2em;
        
    }

    #inputEmail{
        width: 330px;
        
    }

    #fname{
        width: 330px;
    }

    #comment{
        width: 330px;
        height:  150px;
    }

    .colcontact{
        margin-left: 32px;
    }

    .button{
        margin-left: 340px;
  
    }

    .links{
        margin-top: 2em;
        margin-left: 280px;
        
    }
}

@media screen and (min-width:1001px) and (max-width:1200px){


    .p1{
        padding-left: 5px;
        padding-right: 5px;
    }

    .p4{
        padding-left: 1em;
        padding-right: 1em;
    }

    .p5{
        padding-left:  10px;
        padding-right: 10px;
    }

    .p8{
        margin-left: 10px;
        margin-right: 10px;
    }

    .but{
        margin-left: 70px;
    }

    .pic4{
        margin-left: 60px;
       width: 350px;
    }

    .p9{
        margin-left: 1em;
        margin-right: 1em;
    }

    .but1{
        margin-left: 70px;
    }

    .row10{
        height: 2000px ;
    }

    .p10{
        padding-right: 30px !important;
        padding-left: 30px !important;
    }

    .cards{
        margin-left: 30px !important;
        width:270px;
    }

    .p19{
        margin-left: 1em;
        margin-right: 2em;
       
    }

    .pic11{
        margin-left: 80px;
        width: 300px;
        height:250px;
    }

    #contact{
        margin-left: 140px;
    
    }
    
    .p11{
        padding-left: 2em;
        
    }

    #inputEmail{
        width: 330px;
        
    }

    #fname{
        width: 330px;
    }

    #comment{
        width: 330px;
        height:  150px;
    }

    .colcontact{
        margin-left: 32px;
    }

    .button{
        margin-left: 450px;
  
    }

    .links{
        margin-top: 2em;
        margin-left: 390px;
        
    }
}

@media screen and (min-width:1201px) and (max-width:1500px){


    .p1{
        padding-left: 7px;
        padding-right: 7px;
    }

    .p4{
        padding-left: 1.4em;
        padding-right: 1.4em;
    }

    .p5{
        padding-left:  10px;
        padding-right: 10px;
    }

    .p8{
        margin-left: 10px;
        margin-right: 10px;
    }

    .but{
        margin-left: 70px;
    }

    .pic4{
      margin-left: 60px;
       width: 350px;
    }

    .p9{
        margin-left: 1em;
        margin-right: 1em;
    }

    .but1{
        margin-left: 70px;
    }

    .row10{
        height: 2000px ;
    }

    .p10{
        padding-right: 30px !important;
        padding-left: 30px !important;
    }

    .cards{
        margin-left: 30px !important;
        width:300px;
    }

    .p19{
        margin-left: 1em;
        margin-right: 2em;
       
    }

    .pic11{
        margin-left: 120px;
        width: 400px;
        height:290px;
    }

    #contact{
        margin-left: 140px;
    
    }
    
    .p11{
        padding-left: 2em;
        
    }

    #inputEmail{
        width: 330px;
        
    }

    #fname{
        width: 330px;
    }

    #comment{
        width: 330px;
        height:  150px;
    }

    .colcontact{
        margin-left: 32px;
    }

    .button{
        margin-left: 550px;
  
    }

    .links{
        margin-top: 2em;
        margin-left: 490px;
        
    }
}